@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
/* Broad Styles */
body {
    background-color: #FFFBEF;
    font-family: 'Lora', serif;
}

body button {
    display: flex;
    border-radius: 10px;
    flex-direction: row;
    font-family: 'Lora', serif;
    background-color: #FFFBEF;
    text-decoration: none;
    color:  #160D58;
}
body button:hover {
    background-color:rgb(255, 197, 91);
}

/* Controlling overall cards for articles and tasks */
.card-content {
    font-family: 'Lora', serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin-top: 30px;
    margin-left: 450px;
    margin-right: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow:  2.5px 5px rgba(0, 0, 0, 0.14);
    
}

.card-content {
    width: 35%;
    flex-direction: row;
}

/* Controlling overall edit and create tasks, etc forms  */
fieldset {
    border: 0;

}

/* Login Form */
.loginForm {
    display: flex;
    color: #160D58;
    font-family: 'Lora', serif;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 50px;

}
.loginForm label {
    padding-right: 30px;
}

.loginForm div {
    border: solid 1.5px  #160D58;
    border-radius: 10px;
    padding: 30px;
    background-color: white;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.loginForm input {
    font-size: 15px;
    line-height: 1.5;
    color: #666;
    display: block;
    width: 50%;
    height: 50px;
    padding: 0 30px 0 68px;
    outline: none;
    border: none;
    border-bottom: solid 1px rgb(57, 55, 73);
}

.loginForm h3 {
    display: flex;
    justify-content: center;
}

.loginForm button {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 10px;
    width:50%;

}
.signLink {
    color: '#EA9800'
}
.signLink:hover {
    color: rgb(255, 197, 91);
}


/* Tasks */
.addTask {
    font-family: 'Lora', serif;
    width: 100px;
    height: 50px;
    padding-left: 25px;
}

.crudButtons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    height: 35px;
}

.date {
    padding-left: 10px;
    padding-right: 10px;
}

.editButton {
    margin-right: 10px;
}

.taskCheck {
    display: flex;
    width: 20px;
    height: 20px;
    display: block;
    margin-top: 20px;
}

.addTaskContainer {
    display: flex;
    justify-content: center;
}

