@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
/* Broad Styles */
body {
    background-color: #FFFBEF;
    font-family: 'Lora', serif;
}

body button {
    display: flex;
    border-radius: 10px;
    flex-direction: row;
    font-family: 'Lora', serif;
    background-color: #FFFBEF;
    text-decoration: none;
    color:  #160D58;
}
body button:hover {
    background-color:rgb(255, 197, 91);
}

.addSection {
    font-family: 'Lora', serif;
    width: 100px;
    height: 50px;
    padding-left: 25px;
    margin-bottom: 10px;
}

.addSectionContainer {
    display: flex;
    justify-content: center;
}


/* Controlling overall cards for articles and tasks */
.card-content {
    display: flex;
    font-family: 'Lora', serif;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    background-color: white;
    border-radius: 10px;
    box-shadow:  2.5px 5px rgba(0, 0, 0, 0.14);
    margin-bottom: 25px;
    
}



.card-content {
    width: 35%;
    flex-direction: row;
}

.container-card {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    align-items: center;
}

/* Controlling overall edit and create tasks, etc forms  */
form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
fieldset {
    font-family: 'Lora', serif;
    display: flex;
    justify-content: center;
    border: 0;
    padding: 15px;
    background-color: white;
    box-shadow: 0 11px 35px rgba(0, 0, 0, 0.14);
    margin-bottom: 50px;
    width: 500px;
}

fieldset input {
    outline: none;
    border: none;
    border-bottom: 1.5px solid #4A5C9B;
}

.submitButton{
    display: flex;
    justify-content: center;
    width: 100px;
    height: 25px;
    margin-left: 200px;
    margin-top: 13.5px;
}
/* Login Form */
.loginForm {
    display: flex;
    color: #160D58;
    font-family: 'Lora', serif;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 50px;

}
.loginForm label {
    padding-right: 30px;
}

.loginForm div {
    border: solid 1.5px  #160D58;
    border-radius: 10px;
    padding: 30px;
    background-color: white;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.loginForm input {
    font-size: 15px;
    line-height: 1.5;
    color: #666;
    display: block;
    width: 50%;
    height: 50px;
    padding: 0 30px 0 68px;
    outline: none;
    border: none;
    border-bottom: solid 1px rgb(57, 55, 73);
}

.loginForm h3 {
    display: flex;
    justify-content: center;
}

.loginForm button {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 10px;
    width:50%;

}
.signLink {
    color: '#EA9800'
}
.signLink:hover {
    color: rgb(255, 197, 91);
}


/* Tasks */

.crudButtons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    height: 35px;
}

.date {
    padding-left: 10px;
    padding-right: 10px;
}

.editButton {
    margin-right: 10px;
}

.taskCheck {
    display: flex;
    width: 20px;
    height: 20px;
    display: block;
    margin-top: 20px;
}



/* Events page */
.eventCRUDButtons {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    padding-top: 10px;
}
.eventEditButton {
    margin-right: 5px;
}

.eventCard-content {
    display: flex;
    font-family: 'Lora', serif;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    background-color: white;
    border-radius: 10px;
    box-shadow:  2.5px 5px rgba(0, 0, 0, 0.14);
    margin-bottom: 25px;
}

.eventCard-content {
    width: 35%;
    flex-direction: row;
}

.eventCard-content:first-child {
    background-color: #4A5C9B;
}

/* Articles page */

.articleCard-content {

    display: flex;
    font-family: 'Lora', serif;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow:  2.5px 5px rgba(0, 0, 0, 0.14);
    margin-bottom: 25px;
    align-self: center;

}

.articleCard-content{
    flex-direction: row;
}

.articleCrudButtons {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    padding-top: 10px;
}

.articleEditButton {
    margin-right: 5px;
}

.articleLink{
    text-decoration: none;
    color:  #160D58;
    font-style: italic;
}

.articleLink:hover {
    color: rgb(255, 197, 91);
}